PORT=8080

BLUEPRINT_DB_HOST=localhost
BLUEPRINT_DB_PORT=5432
BLUEPRINT_DB_DATABASE=ap202
BLUEPRINT_DB_USERNAME=postgres
BLUEPRINT_DB_PASSWORD=1234
BLUEPRINT_DB_SCHEMA=public

CLERK_JWKS_URL=https://your-clerk-domain/.well-known/jwks.json
CLERK_ISSUER=https://your-clerk-domain
